@model AF.Common.DTO.FestivalDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Play</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FestivalId)

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeginningDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BeginningDate)
                @Html.ValidationMessageFor(model => model.BeginningDate)
            </div>
        </div>

        <!--<div class="form-group">
            Html.LabelFor(model => model.FestivalId, "FestivalId", new { class = "control-label col-md-2" })
            <div class="col-md-10">
                Html.DropDownList("FestivalId", String.Empty)
                Html.ValidationMessageFor(model => model.FestivalId)
            </div>
        </div>-->

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
