@model AF.Common.DTO.PlayDataDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Play</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FestivalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FestivalId)
                @Html.ValidationMessageFor(model => model.FestivalId)
            </div>
        </div>

        <!--<div class="form-group">
            Html.LabelFor(model => model.FestivalId, "FestivalId", new { class = "control-label col-md-2" })
            <div class="col-md-10">
                Html.DropDownList("FestivalId", String.Empty)
                Html.ValidationMessageFor(model => model.FestivalId)
            </div>
        </div>-->

        <div class="form-group">
            @Html.LabelFor(model => model.Day, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Day)
                @Html.ValidationMessageFor(model => model.Day)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Motto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Motto)
                @Html.ValidationMessageFor(model => model.Motto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayedBy)
                @Html.ValidationMessageFor(model => model.PlayedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order)
                @Html.ValidationMessageFor(model => model.Order)
            </div>
        </div>

        <!--<div class="form-group">
            Html.LabelFor(model => model.EditedBy, "EditedBy", new { class = "control-label col-md-2" })
            <div class="col-md-10">
                Html.DropDownList("EditedBy", String.Empty)
                Html.ValidationMessageFor(model => model.EditedBy)
            </div>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View List", "Index") <!--consider Back to List-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
