@model AF_Models.Play

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Play</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Editor.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editor.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Festival.FestivalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Festival.FestivalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
